</main>
<footer class="footer">
    Liber R.E. © <%= new Date().getFullYear() %>
</footer>
<script src="./js/home.js"></script>
<script src="./js/add.js"></script>
<script src="./js/edit.js"></script>
</body>
</html>