<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Liber R.E.</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/badge.css" />
    <link rel="stylesheet" href="/styles/book.css" />
    <link rel="stylesheet" href="/styles/button.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/form.css" />
    <link rel="stylesheet" href="/styles/icon.css" />
    <link rel="stylesheet" href="/styles/input.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/nav.css" />
    <link rel="stylesheet" href="/styles/filter.css" />
    <link rel="stylesheet" href="/styles/title.css" />
  </head>
  <body>
    <nav class="navbar" href="/">
      <div class="nav-logo">Liber R.E.</div>
    </nav>
    <main>
