<div class="parent-primary-action-container">
<div class="primary-action-container">
    <div style="display: flex; align-items: center; gap: 8px">
      <a href="/" class="back-btn">
        <svg class="back-icon"></svg>
        <h3 class="back-label">Back to Library</h3></a> 
    </div>
    <div>
      <button type="submit" class="primary-btn" id="submitButton">
        Save
      </button>
    </div>
  </div>
</div>