h2 {
  font-weight: 500;
}

h3 {
  font-weight: 500;
  width: 100%;
}

h5 {
  font-weight: 500;
  color: #6a6a6a;
  padding: 0px 0px 9px 0px;
}

.page-title {
  font-family: "Lora", serif;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 8px; /* Adds space between title and tabs */
}

.sub-title {
  font-size: 18px;
  color: #6a6a6a;
  margin-top: 4px;
  margin-bottom: 16px; /* Adds space for better alignment */
}

.form-page-title {
  font-family: "Lora", serif;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 8px; /* Adds space between title and tabs */
  margin-top: 22px;
}